.absolute {
    position: absolute;
}

* {
    transition: all .2s;
}


nav#main-nav, nav#cart-placeholder, ul, li, header div, a {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}


nav#main-nav {
    height: 100%;
}


header {
    background: #17baa9;
    padding: 0 0 0 20px;
    height: 80px;
}

header div {
    justify-content: space-between;
}


nav ul {
    height: 100%;
}


.logo-fat {
    font-weight: 700;
    color: #585858;
}


.logo-thin {
    color: white;
}



a {
    line-height: 80px;
    border-right: 1px solid #45c8ba;
    justify-content: center;
    position: relative;
}


li a {
    color: white;
    text-transform: uppercase;
}


a img {
    width: 30px;
}


li:first-child {
    border-left: 1px solid #45c8ba;
}



#search-placeholder {
    width: 30%;
    height: 40px;
    background: blue;
}


.cart-open {
    transform: scaleX(1);
}


.cart-closed {
    transform: scaleX(0);
    opacity: 0;
}



#cart-container {
    background: beige;
    padding: 100px 20px 20px;
    color: black;
    width: 300px;
    height: calc(100% - 80px);
    z-index: 999;
    position: absolute;
    right: 0;
    top: 80px;
    transform-origin: right;
    opacity: 1;
}


.square {
    width: 80px;
    height: 80px;
}


.test-svg {
    fill: blue;
    width: 20px;
}

a .counter {
    width: 17px;
    height: 17px;
    background: #ef603a;
    font-size: 1.3rem;
    line-height: 1.3rem;
    text-align: center;
    position: absolute;
    top: 20px;
    left: 45px;
    justify-content: center;
    border-radius: 8px;
}
