.absolute {
    position: absolute;
}


#logo {
    cursor: pointer;
}

nav#main-nav, nav#cart-placeholder, ul, li, header div, a {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}


nav#main-nav {
    height: 100%;
}


header {
    background: #17baa9;
    padding: 0 0 0 20px;
    height: 80px;
}

header div {
    justify-content: space-between;
}


nav ul {
    height: 100%;
}



.logo-fat {
    font-weight: 700;
    color: #585858;
    pointer-events: none;
}



.logo-thin {
    color: white;
    pointer-events: none;
}



a {
    line-height: 80px;
    border-right: 1px solid #45c8ba;
    justify-content: center;
    position: relative;
}


li a {
    color: white;
    text-transform: uppercase;
}



li:first-child {
    border-left: 1px solid #45c8ba;
}



#search-placeholder {
    width: 30%;
    height: 40px;
    background: blue;
}



.square {
    width: 80px;
    height: 80px;
}


.test-svg {
    fill: blue;
    width: 20px;
}


