<header class="menu-font-large">
    <div>
        <div id="logo-container">
            <h1><span class="logo-fat">Web</span><span class="logo-thin">shop</span></h1>
        </div>
        <nav id="main-nav">
            <ul>
                <li><a>My account</a></li>
                <li><a>WS</a></li>
                <li><a (click)="openCart()">SC</a></li>
            </ul>
        </nav>
        <nav id="cart-placeholder"><!-- nav cart component --><a >Shoppingcart</a></nav>
        <div id="search-placeholder"><!-- searchbar component --></div>
    </div>
    <section id="cart-container" [ngClass]="{'cart-open': cartOpen, 'cart-closed': !cartOpen}">
        <ws-products-minified></ws-products-minified>
    </section>
</header>



