.absolute {
    position: absolute;
}


#logo {
    cursor: pointer;
}

nav#main-nav, nav#cart-placeholder, ul, li, header div, a {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}


nav#main-nav {
    height: 100%;
}


header {
    background: #17baa9;
    padding: 0 0 0 20px;
    height: 50px;
}

header div {
    justify-content: space-between;
}


.center-container {
    max-width: 1600px;
    margin: 0 auto;
}


nav ul {
    height: 100%;
}


h1 {
    font-size: 2rem;
}


.logo-fat {
    font-weight: 700;
    color: #585858;
    pointer-events: none;
}


.logo-thin {
    color: white;
    pointer-events: none;
}


a {
    line-height: 50px;
    justify-content: center;
    position: relative;
}


#my-account {
    padding: 0 15px;
    font-size: 1.5rem;
}


li a {
    color: white;
    text-transform: uppercase;
}


li {
    border-left: 1px solid #45c8ba;
}


li:last-child {
    border-right: 1px solid #45c8ba;
}


@media screen and (min-width: 560px) {

    header {
        height: 80px;
    }

    h1 {
        font-size: 4rem;
    }

    a {
        line-height: 80px;
    }

    #my-account {
        padding: 0 30px;
        font-size: 2rem;
    }



}
