
.cart-open {
    transform: scaleX(1);
}


.cart-closed {
    transform: scaleX(0);
    opacity: 0;
}



#cart-container {
    background: #ececec;
    padding: 100px 20px 20px;
    color: black;
    width: 320px;
    min-height: calc(100% - 50px);
    z-index: 999;
    position: absolute;
    right: 0;
    top: 50px;
    transform-origin: right;
    opacity: 1;
    box-shadow: -2px 2px 10px rgba(0,0,0,.3);
}


.icon-container {
    width: 50px;
    height: 50px;
    justify-content: center;
    position: relative;
}


a img {
    width: 30px;
}


.counter {
    width: 17px;
    height: 17px;
    background: #ef603a;
    font-size: 1.3rem;
    line-height: 1.3rem;
    text-align: center;
    position: absolute;
    top: 7px;
    left: 28px;
    justify-content: center;
    border-radius: 8px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}


* {
    transition: all .2s;
}


@media screen and (min-width: 560px) {

    .icon-container {
        width: 80px;
        height: 80px;
    }

    a .counter {
        top: 20px;
        left: 45px;
    }

    #cart-container {
        height: calc(100% - 80px);
        top: 80px;
    }



}
