
.cart-open {
    transform: scaleX(1);
}


.cart-closed {
    transform: scaleX(0);
    opacity: 0;
}



#cart-container {
    background: beige;
    padding: 100px 20px 20px;
    color: black;
    width: 300px;
    height: calc(100% - 80px);
    z-index: 999;
    position: absolute;
    right: 0;
    top: 80px;
    transform-origin: right;
    opacity: 1;
}


.icon-container {
    width: 80px;
    height: 80px;
    justify-content: center;
    position: relative;
}


a img {
    width: 30px;
}


a .counter {
    width: 17px;
    height: 17px;
    background: #ef603a;
    font-size: 1.3rem;
    line-height: 1.3rem;
    text-align: center;
    position: absolute;
    top: 20px;
    left: 45px;
    justify-content: center;
    border-radius: 8px;
}


* {
    transition: all .2s;
}
