<h1 class="title">{{product?.name}}</h1>
<section>
    <figure>
        <img src="../../assets/img/products/{{product?.imgSrc}}">
    </figure>
    <aside>
        <h3 class="title-small">About</h3>
        <p>{{product?.desc}}</p>
        <p class="price-tag-large">{{product?.price}}</p>
        <ws-shoppingcart-button (addToShoppingCart)="addToShoppingCart()" (removeFromShoppingCart)="removeFromShoppingCart()" [inShoppingCart]="inShoppingCart"></ws-shoppingcart-button>
        <ws-wishlist-button (addToWishList)="addToWishList()" (removeFromWishList)="removeFromWishList()" [onWishList]="onWishList"></ws-wishlist-button>
    </aside>
</section>
