<div>
    <a (click)="navigate()">
        <figure>
            <img src="../../assets/img/products/{{productDetails.imgSrc}}">
        </figure>
        <h3 class="title-medium">{{productDetails.name}}</h3>
        <p class="product-description intro">{{productDetails.desc | truncate : 90}}</p>
    </a>
    <p class="price">{{productDetails.price}}</p>
    <ws-shoppingcart-button (addToShoppingCart)="addToShoppingCart($event)" (removeFromShoppingCart)="removeFromShoppingCart()" [inShoppingCart]="inShoppingCart"></ws-shoppingcart-button>
    <ws-wishlist-button (addToWishList)="addToWishList($event)" (removeFromWishList)="removeFromWishList()" [onWishList]="onWishList"></ws-wishlist-button>
</div>
