<div>
    <figure>
        <a (click)="navigate()">
            <img src="../../assets/img/products/{{productDetails.imgSrc}}">
            <h3>{{productDetails.name}}</h3>
            <p class="product-description">{{productDetails.desc}}</p>
        </a>
        <p class="category">{{productDetails.category}}</p>
        <p class="price">{{productDetails.price}}</p>
    </figure>
    <ws-shoppingcart-button (addToShoppingCart)="addToShoppingCart($event)" (removeFromShoppingCart)="removeFromShoppingCart()" [inShoppingCart]="inShoppingCart"></ws-shoppingcart-button>
    <ws-wishlist-button (addToWishList)="addToWishList($event)" (removeFromWishList)="removeFromWishList()" [onWishList]="onWishList"></ws-wishlist-button>
</div>
